<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079206980247-th6nj8163c41oc14lthas34gfd6mdass.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079206980247-th6nj8163c41oc14lthas34gfd6mdass</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1079206980247-8akoioe4rhmi8eskgi9su0vdt0muo2fq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqQ1lsFRP2QM_p3PvrV8RXZXHRGke6ThU</string>
	<key>GCM_SENDER_ID</key>
	<string>1079206980247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodyChallenge</string>
	<key>PROJECT_ID</key>
	<string>bloody-gdsc</string>
	<key>STORAGE_BUCKET</key>
	<string>bloody-gdsc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079206980247:ios:3630e6cfd019ab3fe6d7d2</string>
</dict>
</plist>